@charset "UTF-8";
html {
	font-family: sans-serif;
	-webkit-text-size-adjust: 100%;
	-ms-text-size-adjust: 100%;
}

body {
	margin: 0;
}

article,
aside,
details,
figcaption,
figure,
footer,
header,
main,
menu,
nav,
section,
summary {
	display: block;
}

audio,
canvas,
progress,
video {
	display: inline-block;
	vertical-align: baseline;
}

audio:not([controls]) {
	display: none;
	height: 0;
}

[hidden],
template {
	display: none;
}

a {
	background-color: transparent;
}

a:active,
a:hover {
	outline: 0;
}

abbr[title] {
	border-bottom: 1px dotted;
}

b,
strong {
	font-weight: bold;
}

dfn {
	font-style: italic;
}

h1 {
	font-size: 2em;
	margin: 0.67em 0;
}

mark {
	background: #ff0;
	color: #000;
}

small {
	font-size: 80%;
}

sub,
sup {
	font-size: 75%;
	line-height: 0;
	position: relative;
	vertical-align: baseline;
}

sup {
	top: -0.5em;
}

sub {
	bottom: -0.25em;
}

img {
	border: 0;
}

svg:not(:root) {
	overflow: hidden;
}

figure {
	margin: 1em 40px;
}

hr {
	-webkit-box-sizing: content-box;
	        box-sizing: content-box;
	height: 0;
}

pre {
	overflow: auto;
}

code,
kbd,
pre,
samp {
	font-family: monospace, monospace;
	font-size: 1em;
}

button,
input,
optgroup,
select,
textarea {
	color: inherit;
	font: inherit;
	margin: 0;
}

button {
	overflow: visible;
}

button,
select {
	text-transform: none;
}

button,
html input[type="button"],
input[type="reset"],
input[type="submit"] {
	-webkit-appearance: button;
	cursor: pointer;
}

button[disabled],
html input[disabled] {
	cursor: default;
}

button::-moz-focus-inner,
input::-moz-focus-inner {
	border: 0;
	padding: 0;
}

input {
	line-height: normal;
}

input[type="checkbox"],
input[type="radio"] {
	-webkit-box-sizing: border-box;
	        box-sizing: border-box;
	padding: 0;
}

input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
	height: auto;
}

input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-decoration {
	-webkit-appearance: none;
}

fieldset {
	border: 1px solid #c0c0c0;
	margin: 0 2px;
	padding: 0.35em 0.625em 0.75em;
}

legend {
	border: 0;
	padding: 0;
}

textarea {
	overflow: auto;
}

optgroup {
	font-weight: bold;
}

table {
	border-collapse: collapse;
	border-spacing: 0;
}

td,
th {
	padding: 0;
}

*,
*:before,
*:after {
	-webkit-box-sizing: border-box;
	        box-sizing: border-box;
}

body {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-orient: vertical;
	-webkit-box-direction: normal;
	    -ms-flex-direction: column;
	        flex-direction: column;
	height: 100vh;
	background: #fefefe;
	overflow-x: hidden;
}

header, footer {
	-webkit-box-flex: 0;
	    -ms-flex: 0;
	        flex: 0;
}

main {
	-webkit-box-flex: 1;
	    -ms-flex: 1;
	        flex: 1;
}

section {
	margin-bottom: 60px;
}

img {
	display: block;
	height: auto;
	max-width: 100%;
}

#site-header {
	-webkit-box-shadow: 0 10px 20px -5px rgba(0, 0, 0, 0.08);
	        box-shadow: 0 10px 20px -5px rgba(0, 0, 0, 0.08);
}

#site-footer {
	-webkit-box-shadow: 0 -10px 20px -5px rgba(0, 0, 0, 0.08);
	        box-shadow: 0 -10px 20px -5px rgba(0, 0, 0, 0.08);
}

/*-------------------------
----- links
-------------------------*/
a {
	color: #666666;
	text-decoration: none;
	-webkit-transition: 0.2s;
	-o-transition: 0.2s;
	transition: 0.2s;
	cursor: pointer;
}

a:visited {
	color: #666666;
}

a:hover, a:focus, a:active {
	color: #37a000;
}

/*-------------------------
----- typography
-------------------------*/
body,
input,
select,
textarea {
	font-family: "Open Sans", "Lucida Grande", "Lucida Sans Unicode", "Lucida Sans", Geneva, Arial, sans-serif;
	font-size: 16px;
	font-weight: 400;
	line-height: 1.614;
	color: #666666;
}

h1, h2, h3, h4, h5, h6 {
	font-family: "Open Sans", Georgia, Cambria, "Times New Roman", Times, serif;
	font-size: 22px;
	font-weight: 700;
	line-height: 1.4;
	color: #666666;
}

h1 {
	font-size: 24px;
}

h2 {
	font-size: 18px;
}

h3 {
	font-size: 2.2em;
}

h4 {
	font-size: 2em;
}

h5 {
	font-size: 1.8em;
}

h6 {
	font-size: 1.6em;
}

.section-title {
	position: relative;
	display: block;
	text-align: center;
	margin: 0 0 30px 0;
}

.section-title h2 {
	display: inline-block;
	font-size: 18px;
	font-weight: 600;
	padding: 0 25px;
	color: #666666;
	background: #ffffff;
	margin: 0;
}

.section-title:before {
	content: '';
	position: absolute;
	left: 0;
	top: 0;
	bottom: 0;
	margin: auto;
	width: 100%;
	height: 1px;
	background: rgba(102, 102, 102, 0.1);
	z-index: -1;
}

.section-title-2 {
	display: block;
	margin: 0 0 30px 0;
}

.section-title-2 h2 {
	position: relative;
	display: inline-block;
	font-size: 14px;
	font-weight: 600;
	padding-right: 25px;
	color: #666666;
	background: #ffffff;
	margin: 0;
}

.section-title-2 h2:before {
	content: '';
	position: absolute;
	left: 100%;
	top: 0;
	bottom: 0;
	margin: auto;
	width: 100vw;
	height: 1px;
	background: rgba(102, 102, 102, 0.1);
}

dfn, cite, em, i {
	font-style: italic;
}

blockquote:before {
	position: absolute;
	top: -.2em;
	left: -.13em;
	content: "“";
	font-size: 12em;
	line-height: 100%;
	color: white;
}

address {
	margin: 0 0 1.5em;
}

/*-------------------------
----- buttons
-------------------------*/
button,
input[type="button"],
input[type="reset"],
input[type="submit"] {
	font-family: "Open Sans", Georgia, Cambria, "Times New Roman", Times, serif;
	font-size: 14px;
	font-weight: 600;
	line-height: 1;
	color: #ffffff;
	background: #37a000;
	border: none;
	border-radius: 5px;
	outline: none;
	padding: 10px 15px;
	margin: 0;
	-webkit-transition: 0.2s;
	-o-transition: 0.2s;
	transition: 0.2s;
}

button:hover, button:active, button:focus,
input[type="button"]:hover,
input[type="button"]:active,
input[type="button"]:focus,
input[type="reset"]:hover,
input[type="reset"]:active,
input[type="reset"]:focus,
input[type="submit"]:hover,
input[type="submit"]:active,
input[type="submit"]:focus {
	background: rgba(55, 160, 0, 0.8);
}

/*-------------------------
----- lists
-------------------------*/
ul, ol {
	list-style-type: none;
}

/*-------------------------
----- tables
-------------------------*/
table {
	border-collapse: collapse;
	margin: 0 0 1.5em;
	width: 100%;
}

thread th {
	border-bottom: 2px solid #bbb;
	padding-bottom: .5em;
}

td,
th {
	vertical-align: top;
}

th {
	padding: .4em;
	text-align: left;
}

tr {
	border-bottom: 1px solid #eee;
}

td {
	padding: .4em;
}

th:first-child,
td:first-child {
	padding-left: 0;
}

th:last-child,
td:last-child {
	padding-right: 0;
}

/*-------------------------
----- fields
-------------------------*/
input[type="text"],
input[type="email"],
input[type="url"],
input[type="password"],
input[type="search"],
input[type="number"],
input[type="tel"],
input[type="range"],
input[type="date"],
input[type="month"],
input[type="week"],
input[type="time"],
input[type="datetime"],
input[type="datetime-local"],
input[type="color"],
textarea,
select {
	font-family: "Open Sans", Georgia, Cambria, "Times New Roman", Times, serif;
	font-size: 14px;
	font-weight: 400;
	line-height: 1;
	color: #666666;
	background: #f7f8fa;
	border: none;
	border-radius: 5px;
	padding: 10px 15px;
	-webkit-transition: 0.2s;
	-o-transition: 0.2s;
	transition: 0.2s;
}

input[type="text"]::-webkit-input-placeholder,
input[type="email"]::-webkit-input-placeholder,
input[type="url"]::-webkit-input-placeholder,
input[type="password"]::-webkit-input-placeholder,
input[type="search"]::-webkit-input-placeholder,
input[type="number"]::-webkit-input-placeholder,
input[type="tel"]::-webkit-input-placeholder,
input[type="range"]::-webkit-input-placeholder,
input[type="date"]::-webkit-input-placeholder,
input[type="month"]::-webkit-input-placeholder,
input[type="week"]::-webkit-input-placeholder,
input[type="time"]::-webkit-input-placeholder,
input[type="datetime"]::-webkit-input-placeholder,
input[type="datetime-local"]::-webkit-input-placeholder,
input[type="color"]::-webkit-input-placeholder,
textarea::-webkit-input-placeholder,
select::-webkit-input-placeholder {
	color: rgba(102, 102, 102, 0.5);
}

input[type="text"]:-ms-input-placeholder,
input[type="email"]:-ms-input-placeholder,
input[type="url"]:-ms-input-placeholder,
input[type="password"]:-ms-input-placeholder,
input[type="search"]:-ms-input-placeholder,
input[type="number"]:-ms-input-placeholder,
input[type="tel"]:-ms-input-placeholder,
input[type="range"]:-ms-input-placeholder,
input[type="date"]:-ms-input-placeholder,
input[type="month"]:-ms-input-placeholder,
input[type="week"]:-ms-input-placeholder,
input[type="time"]:-ms-input-placeholder,
input[type="datetime"]:-ms-input-placeholder,
input[type="datetime-local"]:-ms-input-placeholder,
input[type="color"]:-ms-input-placeholder,
textarea:-ms-input-placeholder,
select:-ms-input-placeholder {
	color: rgba(102, 102, 102, 0.5);
}

input[type="text"]::-ms-input-placeholder,
input[type="email"]::-ms-input-placeholder,
input[type="url"]::-ms-input-placeholder,
input[type="password"]::-ms-input-placeholder,
input[type="search"]::-ms-input-placeholder,
input[type="number"]::-ms-input-placeholder,
input[type="tel"]::-ms-input-placeholder,
input[type="range"]::-ms-input-placeholder,
input[type="date"]::-ms-input-placeholder,
input[type="month"]::-ms-input-placeholder,
input[type="week"]::-ms-input-placeholder,
input[type="time"]::-ms-input-placeholder,
input[type="datetime"]::-ms-input-placeholder,
input[type="datetime-local"]::-ms-input-placeholder,
input[type="color"]::-ms-input-placeholder,
textarea::-ms-input-placeholder,
select::-ms-input-placeholder {
	color: rgba(102, 102, 102, 0.5);
}

input[type="text"]::placeholder,
input[type="email"]::placeholder,
input[type="url"]::placeholder,
input[type="password"]::placeholder,
input[type="search"]::placeholder,
input[type="number"]::placeholder,
input[type="tel"]::placeholder,
input[type="range"]::placeholder,
input[type="date"]::placeholder,
input[type="month"]::placeholder,
input[type="week"]::placeholder,
input[type="time"]::placeholder,
input[type="datetime"]::placeholder,
input[type="datetime-local"]::placeholder,
input[type="color"]::placeholder,
textarea::placeholder,
select::placeholder {
	color: rgba(102, 102, 102, 0.5);
}

input[type="text"]:focus,
input[type="email"]:focus,
input[type="url"]:focus,
input[type="password"]:focus,
input[type="search"]:focus,
input[type="number"]:focus,
input[type="tel"]:focus,
input[type="range"]:focus,
input[type="date"]:focus,
input[type="month"]:focus,
input[type="week"]:focus,
input[type="time"]:focus,
input[type="datetime"]:focus,
input[type="datetime-local"]:focus,
input[type="color"]:focus,
textarea:focus,
select:focus {
	outline: none;
}

input[type="text"]:focus::-webkit-input-placeholder,
input[type="email"]:focus::-webkit-input-placeholder,
input[type="url"]:focus::-webkit-input-placeholder,
input[type="password"]:focus::-webkit-input-placeholder,
input[type="search"]:focus::-webkit-input-placeholder,
input[type="number"]:focus::-webkit-input-placeholder,
input[type="tel"]:focus::-webkit-input-placeholder,
input[type="range"]:focus::-webkit-input-placeholder,
input[type="date"]:focus::-webkit-input-placeholder,
input[type="month"]:focus::-webkit-input-placeholder,
input[type="week"]:focus::-webkit-input-placeholder,
input[type="time"]:focus::-webkit-input-placeholder,
input[type="datetime"]:focus::-webkit-input-placeholder,
input[type="datetime-local"]:focus::-webkit-input-placeholder,
input[type="color"]:focus::-webkit-input-placeholder,
textarea:focus::-webkit-input-placeholder,
select:focus::-webkit-input-placeholder {
	color: #666666;
}

input[type="text"]:focus:-ms-input-placeholder,
input[type="email"]:focus:-ms-input-placeholder,
input[type="url"]:focus:-ms-input-placeholder,
input[type="password"]:focus:-ms-input-placeholder,
input[type="search"]:focus:-ms-input-placeholder,
input[type="number"]:focus:-ms-input-placeholder,
input[type="tel"]:focus:-ms-input-placeholder,
input[type="range"]:focus:-ms-input-placeholder,
input[type="date"]:focus:-ms-input-placeholder,
input[type="month"]:focus:-ms-input-placeholder,
input[type="week"]:focus:-ms-input-placeholder,
input[type="time"]:focus:-ms-input-placeholder,
input[type="datetime"]:focus:-ms-input-placeholder,
input[type="datetime-local"]:focus:-ms-input-placeholder,
input[type="color"]:focus:-ms-input-placeholder,
textarea:focus:-ms-input-placeholder,
select:focus:-ms-input-placeholder {
	color: #666666;
}

input[type="text"]:focus::-ms-input-placeholder,
input[type="email"]:focus::-ms-input-placeholder,
input[type="url"]:focus::-ms-input-placeholder,
input[type="password"]:focus::-ms-input-placeholder,
input[type="search"]:focus::-ms-input-placeholder,
input[type="number"]:focus::-ms-input-placeholder,
input[type="tel"]:focus::-ms-input-placeholder,
input[type="range"]:focus::-ms-input-placeholder,
input[type="date"]:focus::-ms-input-placeholder,
input[type="month"]:focus::-ms-input-placeholder,
input[type="week"]:focus::-ms-input-placeholder,
input[type="time"]:focus::-ms-input-placeholder,
input[type="datetime"]:focus::-ms-input-placeholder,
input[type="datetime-local"]:focus::-ms-input-placeholder,
input[type="color"]:focus::-ms-input-placeholder,
textarea:focus::-ms-input-placeholder,
select:focus::-ms-input-placeholder {
	color: #666666;
}

input[type="text"]:focus::placeholder,
input[type="email"]:focus::placeholder,
input[type="url"]:focus::placeholder,
input[type="password"]:focus::placeholder,
input[type="search"]:focus::placeholder,
input[type="number"]:focus::placeholder,
input[type="tel"]:focus::placeholder,
input[type="range"]:focus::placeholder,
input[type="date"]:focus::placeholder,
input[type="month"]:focus::placeholder,
input[type="week"]:focus::placeholder,
input[type="time"]:focus::placeholder,
input[type="datetime"]:focus::placeholder,
input[type="datetime-local"]:focus::placeholder,
input[type="color"]:focus::placeholder,
textarea:focus::placeholder,
select:focus::placeholder {
	color: #666666;
}

label {
	display: block;
	font-size: 13px;
	font-weight: 600;
	margin-bottom: 20px;
}

label input, label select {
	width: 100%;
	margin-top: 5px;
}

/*-------------------------
----- media
-------------------------*/
/*-------------------------
----- header
-------------------------*/
#site-header {
	position: relative;
	background: #ffffff;
	opacity: 80;
	margin-bottom: 60px;
    margin-top: -50px;
}

#site-header .site-header-inner {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-pack: start;
	    -ms-flex-pack: start;
	        justify-content: flex-start;
	-webkit-box-align: center;
	    -ms-flex-align: center;
	        align-items: center;
	-ms-flex-wrap: wrap;
	    flex-wrap: wrap;
	padding: 15px;
}

@media (max-width: 992px) {
	#site-header .site-header-inner {
		margin: 0 -60px;
	}
}

@media (max-width: 768px) {
	#site-header .site-header-inner {
		-webkit-box-pack: justify;
		    -ms-flex-pack: justify;
		        justify-content: space-between;
		margin: 0;
	}
}

/*----- logo -----*/
.logo {
	margin-right: 30px;
}

@media (max-width: 992px) {
	.logo {
		margin-right: 15px;
	}
}

.logo h1 {
	font-size: 34px;
	line-height: 1;
	margin: 0;
}

.logo a {
	color: #37a000;
}

.logo img {
	max-height: 26px;
}

/*----- menu -----*/
.site-menu-wrapper {
	margin: -15px 30px -15px 0;
}

@media (max-width: 992px) {
	.site-menu-wrapper {
		margin-right: 15px;
	}
}

#site-menu ul, #site-menu li {
	padding: 0;
	margin: 0;
}

#site-menu a {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-pack: justify;
	    -ms-flex-pack: justify;
	        justify-content: space-between;
	-webkit-box-align: center;
	    -ms-flex-align: center;
	        align-items: center;
	font-size: 14px;
	font-weight: 600;
	color: #666666;
	-webkit-transition: 0.2s;
	-o-transition: 0.2s;
	transition: 0.2s;
}

#site-menu a i {
	margin-right: 10px;
}

#site-menu a:hover {
	color: #37a000;
}

#site-menu .toggle-dropdown {
	display: none;
}

#site-menu .site-menu-links {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-pack: justify;
	    -ms-flex-pack: justify;
	        justify-content: space-between;
	-webkit-box-align: center;
	    -ms-flex-align: center;
	        align-items: center;
}

#site-menu .site-menu-link {
	position: relative;
	margin-right: 30px;
}

#site-menu .site-menu-link:last-child {
	margin-right: 0;
}

#site-menu .site-menu-link a {
	padding: 24px 0;
}

#site-menu .site-menu-link:hover .link-dropdown {
	display: block;
}

#site-menu .link-dropdown {
	position: absolute;
	top: 100%;
	left: 0;
	display: none;
	width: 220px;
	background: #ffffff;
	z-index: 900;
}

#site-menu .dropdown-link {
	-webkit-transition: 0.2s;
	-o-transition: 0.2s;
	transition: 0.2s;
}

#site-menu .dropdown-link a {
	padding: 10px 20px;
}

#site-menu .dropdown-link a i {
	color: rgba(102, 102, 102, 0.3);
}

#site-menu .dropdown-link:hover {
	background: #f7f8fa;
}

#site-menu .dropdown-link:hover > .link-sub-menu {
	display: block;
}

#site-menu .link-sub-menu {
	position: absolute;
	display: none;
	top: 0;
	left: 220px;
	width: 220px;
	height: 100%;
	background: #f7f8fa;
}

#site-menu .sub-menu-link a {
	color: rgba(102, 102, 102, 0.7);
}

#site-menu .sub-menu-link a:hover {
	color: #37a000;
}

/*----- search -----*/
.search-wrapper {
	width: 30%;
	margin-right: 15px;
}

#search-form {
	position: relative;
}

#search-form input {
	width: 100%;
	background: #f7f8fa;
}

#search-form input::-webkit-input-placeholder {
	color: rgba(102, 102, 102, 0.5);
}

#search-form input:-ms-input-placeholder {
	color: rgba(102, 102, 102, 0.5);
}

#search-form input::-ms-input-placeholder {
	color: rgba(102, 102, 102, 0.5);
}

#search-form input::placeholder {
	color: rgba(102, 102, 102, 0.5);
}

#search-form input:focus::-webkit-input-placeholder {
	color: #666666;
}

#search-form input:focus:-ms-input-placeholder {
	color: #666666;
}

#search-form input:focus::-ms-input-placeholder {
	color: #666666;
}

#search-form input:focus::placeholder {
	color: #666666;
}

#search-form button {
	position: absolute;
	top: 0;
	right: 0;
	height: 100%;
	font-size: 14px;
	background: none;
	color: rgba(102, 102, 102, 0.5);
}

#search-form button:hover {
	color: #37a000;
}

/*----- user-bar -----*/
.user-bar {
	margin-left: auto;
}

.user-bar a {
	font-size: 14px;
	font-weight: 600;
	color: #666666;
	margin-right: 15px;
}

.user-bar a:hover {
	color: #37a000;
}

/*----- mobile -----*/
#open-mobile-header {
	display: none;
	color: #666666;
	background: none;
}

@media (max-width: 768px) {
	#open-mobile-header {
		display: block;
	}
}

#close-mobile-header {
	position: absolute;
	left: -57px;
	top: 15px;
	color: #666666;
	background: #ffffff;
	border: 1px solid #f7f8fa;
}

.mobile-header-wrapper {
	display: none;
}

@media (max-width: 768px) {
	.mobile-header-wrapper {
		display: block;
	}
}

.mobile-header-wrapper .overlay {
	position: fixed;
	top: 0;
	left: 0;
	display: none;
	width: 100%;
	height: 100%;
	background: rgba(0, 0, 0, 0.3);
	z-index: 1000;
}

#mobile-header {
	position: fixed;
	right: -100%;
	top: 0;
	width: 80%;
	height: 100%;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-orient: vertical;
	-webkit-box-direction: normal;
	    -ms-flex-direction: column;
	        flex-direction: column;
	padding: 20px;
	background: #ffffff;
	z-index: 1000;
	-webkit-transition: 0.6s;
	-o-transition: 0.6s;
	transition: 0.6s;
	overflow-y: auto;
}

@media (max-width: 576px) {
	#mobile-header {
		width: 80%;
	}
}

#mobile-header #open-search {
	display: none;
}

#mobile-header .search-wrapper {
	display: block;
	-webkit-box-ordinal-group: 1;
	    -ms-flex-order: 0;
	        order: 0;
	width: 100%;
	margin-bottom: 30px;
}

#mobile-header .search-wrapper input {
	height: 50px;
}

#mobile-header .search-wrapper button {
	margin-right: 15px;
}

#mobile-header .site-menu-wrapper {
	margin: 0 -20px 30px -20px;
}

#mobile-header #site-menu a {
	font-size: 16px;
}

#mobile-header #site-menu .toggle-dropdown {
	position: absolute;
	top: 0;
	right: 20px;
	display: block;
	color: #666666;
	background: #f7f8fa;
}

#mobile-header #site-menu .toggle-dropdown:hover {
	color: #f7f8fa;
	background: #37a000;
}

#mobile-header #site-menu .toggle-dropdown i.active {
	-webkit-transform: rotate(90deg);
	    -ms-transform: rotate(90deg);
	        transform: rotate(90deg);
}

#mobile-header #site-menu .site-menu-links {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-orient: vertical;
	-webkit-box-direction: normal;
	    -ms-flex-direction: column;
	        flex-direction: column;
	-webkit-box-pack: start;
	    -ms-flex-pack: start;
	        justify-content: flex-start;
	-webkit-box-align: start;
	    -ms-flex-align: start;
	        align-items: flex-start;
	width: 100%;
}

#mobile-header #site-menu .site-menu-link {
	position: relative;
	width: 100%;
}

#mobile-header #site-menu .site-menu-link a {
	-webkit-box-pack: start;
	    -ms-flex-pack: start;
	        justify-content: flex-start;
	padding: 10px 20px;
}

#mobile-header #site-menu .site-menu-link .toggle-dropdown {
	top: 6px;
}

#mobile-header #site-menu .link-dropdown {
	position: relative;
	display: none;
	width: 100%;
	background: #ffffff;
}

#mobile-header #site-menu .dropdown-link {
	position: relative;
}

#mobile-header #site-menu .dropdown-link a {
	padding: 10px 40px;
	-webkit-box-pack: justify;
	    -ms-flex-pack: justify;
	        justify-content: space-between;
}

#mobile-header #site-menu .dropdown-link .toggle-dropdown {
	right: 40px;
}

#mobile-header #site-menu .link-sub-menu {
	position: static;
	display: none;
	width: 100%;
	background: none;
}

#mobile-header #site-menu .sub-menu-link a {
	padding: 10px 60px;
}

#mobile-header .user-bar {
	margin: 0 auto;
}

/*-------------------------
----- main
-------------------------*/
/*-------------------------
----- home-search
-------------------------*/
#home-search {
	position: relative;
	background: center no-repeat;
	background-size: cover;
	margin-top: -60px;
}

#home-search:before {
	content: '';
	position: absolute;
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
	background: rgba(0, 0, 0, 0.3);
}

#home-search .home-search-wrapper {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-orient: vertical;
	-webkit-box-direction: normal;
	    -ms-flex-direction: column;
	        flex-direction: column;
	-webkit-box-align: center;
	    -ms-flex-align: center;
	        align-items: center;
	-webkit-box-pack: center;
	    -ms-flex-pack: center;
	        justify-content: center;
	padding: 40px 0;
	height: 560px;
}

@media (max-width: 768px) {
	#home-search .home-search-wrapper {
		height: 460px;
	}
}

@media (max-width: 576px) {
	#home-search .home-search-wrapper {
		height: 360px;
		padding: 20px 0;
	}
}

#home-search .home-search-title {
	margin-bottom: 30px;
}

#home-search .home-search-title h2 {
	font-size: 42px;
	text-align: center;
	margin: 0;
	color: #fff;
}

#home-search .home-search-title h2 span {
	font-size: 125%;
}

@media (max-width: 992px) {
	#home-search .home-search-title h2 {
		font-size: 36px;
	}
}

@media (max-width: 768px) {
	#home-search .home-search-title h2 {
		font-size: 32px;
	}
}

@media (max-width: 576px) {
	#home-search .home-search-title h2 {
		font-size: 28px;
	}
}

#home-search .home-search-form-wrapper {
	position: relative;
	width: 100%;
}

#home-search .home-search-form-wrapper input {
	width: 100%;
	height: 50px;
	font-size: 16px;
	padding-right: 65px;
}

#home-search .home-search-form-wrapper button {
	position: absolute;
	right: 0;
	top: 0;
	width: 50px;
	height: 50px;
	font-size: 18px;
	border-top-left-radius: 0;
	border-bottom-left-radius: 0;
}

#home-search .home-search-suggestions {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-ms-flex-wrap: wrap;
	    flex-wrap: wrap;
	-webkit-box-align: center;
	    -ms-flex-align: center;
	        align-items: center;
	width: 100%;
	margin: 10px 0;
}

#home-search .suggestions-list {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-ms-flex-wrap: wrap;
	    flex-wrap: wrap;
	-webkit-box-align: center;
	    -ms-flex-align: center;
	        align-items: center;
	padding: 0;
	margin: 0;
}

#home-search .suggestion-item {
	margin-right: 10px;
}

#home-search .suggestion-item:last-child {
	margin-right: 30px;
}

#home-search .suggestion-item a {
	font-size: 14px;
	font-weight: 600;
	color: #fff;
}

#home-search .suggestion-item a:after {
	content: ',';
}

#home-search .suggestion-item a:hover {
	text-decoration: underline;
}

#home-search .suggestion-item:last-child a:after {
	display: none;
}

#home-search .suggestion-more a {
	font-size: 12px;
	font-weight: 400;
	color: #fff;
}

#home-search .suggestion-more a i {
	margin-left: 5px;
	-webkit-transition: 0.2s;
	-o-transition: 0.2s;
	transition: 0.2s;
}

#home-search .suggestion-more a:hover {
	text-decoration: underline;
}

#home-search .suggestion-more a:hover i {
	-webkit-transform: translateX(5px);
	    -ms-transform: translateX(5px);
	        transform: translateX(5px);
}

/*-------------------------
----- pagination
-------------------------*/
/*-------------------------
----- form
-------------------------*/
.form-style-1 {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-ms-flex-wrap: wrap;
	    flex-wrap: wrap;
	-webkit-box-orient: vertical;
	-webkit-box-direction: normal;
	    -ms-flex-direction: column;
	        flex-direction: column;
	-webkit-box-pack: center;
	    -ms-flex-pack: center;
	        justify-content: center;
}

.form-style-1 .form-title {
	font-size: 16px;
	font-weight: 600;
	text-align: center;
	margin-top: 0;
	margin-bottom: 30px;
}

.form-style-1 button {
	-ms-flex-item-align: center;
	    align-self: center;
	max-width: 180px;
}

.form-style-1 input {
	max-width: 320px;
}

.form-style-1 .condition {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-align: center;
	    -ms-flex-align: center;
	        align-items: center;
	font-size: 12px;
}

.form-style-1 .condition input[type="checkbox"] {
	width: auto;
	margin-top: 0;
	margin-right: 10px;
}

.form-style-1 .condition span {
	font-weight: 400;
	color: rgba(102, 102, 102, 0.7);
}

/*-------------------------
----- registration
-------------------------*/
#sign-up,
#sign-in {
	position: fixed;
	left: 0;
	top: 0;
	display: none;
	width: 100vw;
	height: 100vh;
	z-index: 1000;
	overflow: auto;
}

#sign-up .overlay,
#sign-in .overlay {
	position: fixed;
	top: 0;
	left: 0;
	display: block;
	width: 100%;
	height: 100%;
	background: rgba(0, 0, 0, 0.3);
}

.sign-up-inner,
.sign-in-inner {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-align: center;
	    -ms-flex-align: center;
	        align-items: center;
	-webkit-box-pack: center;
	    -ms-flex-pack: center;
	        justify-content: center;
	width: 100%;
	height: 100%;
}

#sign-up-form,
#sign-in-form {
	max-width: 360px;
	min-width: 280px;
	padding: 30px;
	background: #ffffff;
	z-index: 2000;
}

/*-------------------------
----- create-course
-------------------------*/
.create-course-inner {
	background: #ffffff;
}

/*-------------------------
----- profile
-------------------------*/
.profile-content {
	padding: 30px;
	background: #ffffff;
	overflow: hidden;
	-webkit-box-shadow: 0 10px 20px 0 rgba(0, 0, 0, 0.1);
	        box-shadow: 0 10px 20px 0 rgba(0, 0, 0, 0.1);
}

#profile-info {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-ms-flex-wrap: wrap;
	    flex-wrap: wrap;
	-webkit-box-align: start;
	    -ms-flex-align: start;
	        align-items: flex-start;
}

#profile-info .profile-photo {
	display: block;
	width: 100%;
	max-width: 220px;
	height: 220px;
	background: center no-repeat;
	background-size: cover;
}

@media (max-width: 992px) {
	#profile-info .profile-photo {
		margin: auto auto 20px auto;
	}
}

#profile-info .profile-rating {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-ms-flex-wrap: wrap;
	    flex-wrap: wrap;
	-webkit-box-align: center;
	    -ms-flex-align: center;
	        align-items: center;
	margin-bottom: 10px;
}

#profile-info .profile-stars {
	font-size: 13px;
	color: #37a000;
}

#profile-info .profile-name {
	margin-bottom: 10px;
}

#profile-info .profile-name h1 {
	font-size: 24px;
	margin: 0;
}

#profile-info .info-inner {
	-webkit-box-flex: 1;
	    -ms-flex: 1;
	        flex: 1;
	margin-left: 30px;
}

@media (max-width: 992px) {
	#profile-info .info-inner {
		-ms-flex-preferred-size: 100%;
		    flex-basis: 100%;
		margin-left: 0;
	}
}

#profile-info .profile-description {
	font-size: 14px;
	color: #8a8a8a;
}

#profile-info .categories-list {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	padding: 0;
	margin: 0;
}

#profile-info .categories-item {
	font-size: 12px;
	margin-right: 15px;
}

#profile-info .categories-item a {
	color: #8a8a8a;
}

#profile-info .categories-item a:hover {
	color: #37a000;
}

#profile-info .profile-info-inner {
	display: -webkit-inline-box;
	display: -ms-inline-flexbox;
	display: inline-flex;
	-ms-flex-wrap: inherit;
	    flex-wrap: inherit;
	-webkit-box-align: center;
	    -ms-flex-align: center;
	        align-items: center;
	font-size: 12px;
	font-weight: 400;
	margin-right: 15px;
	color: #8a8a8a;
}

#profile-info .profile-info-inner a {
	color: #8a8a8a;
}

#profile-info .profile-info-inner a:hover {
	color: #37a000;
}

#profile-info .info-icon {
	margin-right: 10px;
}

#profile-info .info-title {
	font-size: inherit;
	font-weight: 600;
	margin: 0 5px 0 0;
}

#profile-info .info-value {
	display: inline-block;
	margin-right: 5px;
}

#profile-info .info-value:last-child {
	margin-right: 0;
}

#my-programs .my-programs-list {
	list-style: disc;
}

#my-programs .my-programs-item {
	background: #f7f8fa;
	padding: 10px;
	margin: 10px 0;
}

#profile-comments .comment-list {
	padding: 0 0 0 30px;
	margin: 0;
}

#profile-comments .comment-item {
	margin-bottom: 30px;
	padding-bottom: 15px;
	border-bottom: 1px solid #f7f8fa;
}

#profile-comments .comment-item .user-name {
	font-size: 14px;
	margin: 0;
}

#profile-comments .comment-item .user-comment {
	font-size: 13px;
	margin: 5px 0;
}

#profile-comments .comment-item:last-child {
	margin-bottom: 0;
}

#profile-comments .comment-info-inner {
	display: -webkit-inline-box;
	display: -ms-inline-flexbox;
	display: inline-flex;
	-ms-flex-wrap: inherit;
	    flex-wrap: inherit;
	-webkit-box-align: center;
	    -ms-flex-align: center;
	        align-items: center;
	font-size: 12px;
	font-weight: 400;
	margin-right: 15px;
	color: #8a8a8a;
}

#profile-comments .comment-info-inner a {
	color: #8a8a8a;
}

#profile-comments .comment-info-inner a:hover {
	color: #37a000;
}

#profile-comments .info-icon {
	margin-right: 10px;
}

#profile-comments .info-title {
	font-size: inherit;
	font-weight: 600;
	margin: 0 5px 0 0;
}

#profile-comments .info-value {
	display: inline-block;
	margin-right: 5px;
}

#profile-comments .info-value:last-child {
	margin-right: 0;
}

.profile-use-box {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-orient: vertical;
	-webkit-box-direction: normal;
	    -ms-flex-direction: column;
	        flex-direction: column;
	-webkit-box-align: center;
	    -ms-flex-align: center;
	        align-items: center;
	-webkit-box-pack: center;
	    -ms-flex-pack: center;
	        justify-content: center;
	padding: 30px;
	background: #ffffff;
	-webkit-box-shadow: 0 10px 20px 0 rgba(0, 0, 0, 0.1);
	        box-shadow: 0 10px 20px 0 rgba(0, 0, 0, 0.1);
	overflow: hidden;
}

.profile-use-box .profile-programs-list {
	padding: 0;
	margin-top: 0;
	margin-bottom: 30px;
}

.profile-use-box .profile-programs-list .program-item {
	font-size: 14px;
	padding-bottom: 5px;
	margin-bottom: 10px;
	border-bottom: 1px solid #f7f8fa;
}

.profile-use-box .profile-programs-list .program-item:last-child {
	margin-bottom: 0;
}


/*sprite with stars*/
#reviewStars-input input:checked ~ label, #reviewStars-input label, #reviewStars-input label:hover, #reviewStars-input label:hover ~ label {
    background: url('http://positivecrash.com/wp-content/uploads/ico-s71a7fdede6.png') no-repeat;
}

#reviewStars-input {
    /*fix floating problems*/
    overflow: hidden;
    *zoom: 1;
    /*end of fix floating problems*/
    position: relative;
    float: left;
}

    #reviewStars-input input {
        filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=0);
        opacity: 0;
        width: 43px;
        height: 40px;
        position: absolute;
        top: 0;
        z-index: 0;
    }

        #reviewStars-input input:checked ~ label {
            background-position: 0 -40px;
            height: 40px;
            width: 43px;
        }

    #reviewStars-input label {
        background-position: 0 0;
        height: 40px;
        width: 43px;
        float: right;
        cursor: pointer;
        margin-right: 10px;
        position: relative;
        z-index: 1;
    }

        #reviewStars-input label:hover, #reviewStars-input label:hover ~ label {
            background-position: 0 -40px;
            height: 40px;
            width: 43px;
        }

    #reviewStars-input #star-0 {
        left: 0px;
    }

    #reviewStars-input #star-1 {
        left: 53px;
    }

    #reviewStars-input #star-2 {
        left: 106px;
    }

    #reviewStars-input #star-3 {
        left: 159px;
    }

    #reviewStars-input #star-4 {
        left: 212px;
    }

    #reviewStars-input #star-5 {
        left: 265px;
    }

/*-------------------------
----- enroll-course
-------------------------*/
#enroll-course-form {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-orient: horizontal;
	-webkit-box-direction: normal;
	    -ms-flex-direction: row;
	        flex-direction: row;
	-webkit-box-pack: center;
	    -ms-flex-pack: center;
	        justify-content: center;
}

#enroll-course-form .form-title {
	width: 100%;
}

    #enroll-course-form .day-wrapper {
        display: -webkit-box;
        display: -ms-flexbox;
        vertical-align: text-top;
        display: flex;
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        -ms-flex-direction: column;
        flex-direction: column;
        -webkit-box-align: center;
        -ms-flex-align: center;
        align-items: center;
        -webkit-box-pack: center;
        -ms-flex-pack: center;
        justify-content: flex-start;
        min-width: 130px;
        background: #ffffff;
        -webkit-box-shadow: 0 10px 20px 0 rgba(0, 0, 0, 0.1);
        box-shadow: 0 10px 20px 0 rgba(0, 0, 0, 0.1);
        padding: 15px;
        margin: 10px;
    }

    #enroll-course-form .day-inner {
        width: 100%;
        vertical-align: text-top;
    }

#enroll-course-form .day {
	font-size: 14px;
	margin-top: 0;
	margin-bottom: 15px;
}

#enroll-course-form label {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-pack: center;
	    -ms-flex-pack: center;
	        justify-content: center;
	-webkit-box-align: center;
	    -ms-flex-align: center;
	        align-items: center;
}

#enroll-course-form label input {
	width: auto;
	margin: 0 0 0 5px;
}

#enroll-course-form #enroll-course-btn {
	margin: 60px;
}

/*-------------------------
----- teachers
-------------------------*/
#best-teachers .teacher,
#teachers .teacher {
	margin-bottom: 40px;
	-webkit-box-shadow: 0 10px 20px 0 rgba(0, 0, 0, 0.1);
	        box-shadow: 0 10px 20px 0 rgba(0, 0, 0, 0.1);
	-webkit-transition: 0.3s;
	-o-transition: 0.3s;
	transition: 0.3s;
}

#best-teachers .teacher:hover,
#teachers .teacher:hover {
	-webkit-box-shadow: 0 0 0 1px rgba(0, 0, 0, 0.1);
	        box-shadow: 0 0 0 1px rgba(0, 0, 0, 0.1);
}

#best-teachers .teacher-info,
#teachers .teacher-info {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-ms-flex-wrap: wrap;
	    flex-wrap: wrap;
	-webkit-box-orient: vertical;
	-webkit-box-direction: normal;
	    -ms-flex-direction: column;
	        flex-direction: column;
	padding: 10px;
}

#best-teachers .teacher-name,
#teachers .teacher-name {
	margin-bottom: 10px;
}

#best-teachers .teacher-name a,
#teachers .teacher-name a {
	color: #666666;
}

#best-teachers .teacher-name a:hover,
#teachers .teacher-name a:hover {
	color: #37a000;
}

#best-teachers .teacher-name h2,
#teachers .teacher-name h2 {
	font-size: 14px;
	font-weight: 600;
	color: inherit;
	margin: 0;
}

#best-teachers .teacher-rating,
#teachers .teacher-rating {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-ms-flex-wrap: wrap;
	    flex-wrap: wrap;
	-webkit-box-align: center;
	    -ms-flex-align: center;
	        align-items: center;
	margin-bottom: 10px;
}

#best-teachers .teacher-stars,
#teachers .teacher-stars {
	font-size: 13px;
	color: #37a000;
}

#best-teachers .teacher-comments,
#teachers .teacher-comments {
	font-size: 12px;
}

#best-teachers .teacher-comments i,
#teachers .teacher-comments i {
	margin-right: 5px;
}

#best-teachers .teacher-info-inner,
#teachers .teacher-info-inner {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-ms-flex-wrap: inherit;
	    flex-wrap: inherit;
	-webkit-box-align: center;
	    -ms-flex-align: center;
	        align-items: center;
	font-size: 12px;
	font-weight: 400;
	color: #8a8a8a;
}

#best-teachers .teacher-info-inner a,
#teachers .teacher-info-inner a {
	color: #8a8a8a;
}

#best-teachers .teacher-info-inner a:hover,
#teachers .teacher-info-inner a:hover {
	color: #37a000;
}

#best-teachers .info-icon,
#teachers .info-icon {
	margin-right: 10px;
}

#best-teachers .info-title,
#teachers .info-title {
	font-size: inherit;
	font-weight: 600;
	margin: 0 5px 0 0;
}

#best-teachers .info-value,
#teachers .info-value {
	display: inline-block;
	margin-right: 5px;
}

#best-teachers .info-value:last-child,
#teachers .info-value:last-child {
	margin-right: 0;
}

#teacher-filter {
	margin-bottom: 40px;
}

#teacher-filter form {
	-webkit-box-orient: horizontal;
	-webkit-box-direction: normal;
	    -ms-flex-direction: row;
	        flex-direction: row;
	-webkit-box-pack: start;
	    -ms-flex-pack: start;
	        justify-content: flex-start;
}

@media (max-width: 992px) {
	#teacher-filter form {
		-webkit-box-pack: justify;
		    -ms-flex-pack: justify;
		        justify-content: space-between;
	}
}

#teacher-filter label {
	width: 220px;
	margin-right: 30px;
}

@media (max-width: 992px) {
	#teacher-filter label {
		margin-right: 0;
	}
}

@media (max-width: 768px) {
	#teacher-filter label {
		width: 100%;
	}
}

#teacher-filter button {
	margin: auto;
}

/*-------------------------
----- teacher
-------------------------*/
.teacher-content {
	padding: 30px;
	background: #ffffff;
	overflow: hidden;
	-webkit-box-shadow: 0 10px 20px 0 rgba(0, 0, 0, 0.1);
	        box-shadow: 0 10px 20px 0 rgba(0, 0, 0, 0.1);
}

#teacher-info {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-ms-flex-wrap: wrap;
	    flex-wrap: wrap;
	-webkit-box-align: start;
	    -ms-flex-align: start;
	        align-items: flex-start;
}

#teacher-info .teacher-photo {
	display: block;
	width: 100%;
	max-width: 220px;
	height: 220px;
	background: center no-repeat;
	background-size: cover;
}

@media (max-width: 992px) {
	#teacher-info .teacher-photo {
		margin: auto auto 20px auto;
	}
}

#teacher-info .teacher-rating {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-ms-flex-wrap: wrap;
	    flex-wrap: wrap;
	-webkit-box-align: center;
	    -ms-flex-align: center;
	        align-items: center;
	margin-bottom: 10px;
}

#teacher-info .teacher-stars {
	font-size: 13px;
	color: #37a000;
}

#teacher-info .teacher-name {
	margin-bottom: 10px;
}

#teacher-info .teacher-name h1 {
	font-size: 24px;
	margin: 0;
}

#teacher-info .info-inner {
	-webkit-box-flex: 1;
	    -ms-flex: 1;
	        flex: 1;
	margin-left: 30px;
}

@media (max-width: 992px) {
	#teacher-info .info-inner {
		-ms-flex-preferred-size: 100%;
		    flex-basis: 100%;
		margin-left: 0;
	}
}

#teacher-info .teacher-description {
	font-size: 14px;
	color: #8a8a8a;
}

#teacher-info .categories-list {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	padding: 0;
	margin: 0;
}

#teacher-info .categories-item {
	font-size: 12px;
	margin-right: 15px;
}

#teacher-info .categories-item a {
	color: #8a8a8a;
}

#teacher-info .categories-item a:hover {
	color: #37a000;
}

#teacher-info .teacher-info-inner {
	display: -webkit-inline-box;
	display: -ms-inline-flexbox;
	display: inline-flex;
	-ms-flex-wrap: inherit;
	    flex-wrap: inherit;
	-webkit-box-align: center;
	    -ms-flex-align: center;
	        align-items: center;
	font-size: 12px;
	font-weight: 400;
	margin-right: 15px;
	color: #8a8a8a;
}

#teacher-info .teacher-info-inner a {
	color: #8a8a8a;
}

#teacher-info .teacher-info-inner a:hover {
	color: #37a000;
}

#teacher-info .info-icon {
	margin-right: 10px;
}

#teacher-info .info-title {
	font-size: inherit;
	font-weight: 600;
	margin: 0 5px 0 0;
}

#teacher-info .info-value {
	display: inline-block;
	margin-right: 5px;
}

#teacher-info .info-value:last-child {
	margin-right: 0;
}

#teacher-certificates .certificates-list {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-ms-flex-wrap: wrap;
	    flex-wrap: wrap;
	-webkit-box-align: center;
	    -ms-flex-align: center;
	        align-items: center;
	-webkit-box-pack: center;
	    -ms-flex-pack: center;
	        justify-content: center;
	padding: 0;
	margin: 0;
}

@media (max-width: 992px) {
	#teacher-certificates .certificates-list {
		-webkit-box-pack: start;
		    -ms-flex-pack: start;
		        justify-content: flex-start;
	}
}

#teacher-certificates .certificate-item {
	width: 180px;
	margin-right: 30px;
	margin-bottom: 30px;
}

#teacher-certificates .certificate-item:last-child {
	margin-right: 0;
}

@media (max-width: 576px) {
	#teacher-certificates .certificate-item {
		width: 100%;
		margin-right: 0;
	}
}

#teacher-comments .comment-list {
	padding: 0 0 0 30px;
	margin: 0;
}

#teacher-comments .comment-item {
	margin-bottom: 30px;
	padding-bottom: 15px;
	border-bottom: 1px solid #f7f8fa;
}

#teacher-comments .comment-item .user-name {
	font-size: 14px;
	margin: 0;
}

#teacher-comments .comment-item .user-comment {
	font-size: 13px;
	margin: 5px 0;
}

#teacher-comments .comment-item:last-child {
	margin-bottom: 0;
}

#teacher-comments .comment-info-inner {
	display: -webkit-inline-box;
	display: -ms-inline-flexbox;
	display: inline-flex;
	-ms-flex-wrap: inherit;
	    flex-wrap: inherit;
	-webkit-box-align: center;
	    -ms-flex-align: center;
	        align-items: center;
	font-size: 12px;
	font-weight: 400;
	margin-right: 15px;
	color: #8a8a8a;
}

#teacher-comments .comment-info-inner a {
	color: #8a8a8a;
}

#teacher-comments .comment-info-inner a:hover {
	color: #37a000;
}

#teacher-comments .info-icon {
	margin-right: 10px;
}

#teacher-comments .info-title {
	font-size: inherit;
	font-weight: 600;
	margin: 0 5px 0 0;
}

#teacher-comments .info-value {
	display: inline-block;
	margin-right: 5px;
}

#teacher-comments .info-value:last-child {
	margin-right: 0;
}

.teacher-use-box {
	padding: 30px;
	background: #ffffff;
	-webkit-box-shadow: 0 10px 20px 0 rgba(0, 0, 0, 0.1);
	        box-shadow: 0 10px 20px 0 rgba(0, 0, 0, 0.1);
	overflow: hidden;
}

.teacher-use-box .teacher-programs-list {
	padding: 0;
	margin: 0;
}

.teacher-use-box .teacher-programs-list .program-item {
	font-size: 14px;
	padding-bottom: 5px;
	margin-bottom: 10px;
	border-bottom: 1px solid #f7f8fa;
}

.teacher-use-box .teacher-programs-list .program-item:last-child {
	margin-bottom: 0;
}

.teacher-use-box > button {
	margin-top: 30px;
}

/*-------------------------
----- programs
-------------------------*/
@media (max-width: 992px) {
	#best-programs div:nth-last-child(-n+2) > .program {
		display: none;
	}
}

@media (max-width: 992px) {
	#new-programs div:nth-last-child(-n+1) > .program {
		display: none;
	}
}

@media (max-width: 768px) {
	#new-programs div:nth-last-child(-n+1) > .program {
		display: block;
	}
}

#best-programs .teacher-photo img,
#new-programs .teacher-photo img, #programs .teacher-photo img {
	height: 46px;
}

#best-programs .program,
#new-programs .program, #programs .program {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-ms-flex-wrap: wrap;
	    flex-wrap: wrap;
	-webkit-box-orient: vertical;
	-webkit-box-direction: normal;
	    -ms-flex-direction: column;
	        flex-direction: column;
	padding: 15px 15px 20px 15px;
	margin-bottom: 40px;
	-webkit-box-shadow: 0 10px 20px 0 rgba(0, 0, 0, 0.1);
	        box-shadow: 0 10px 20px 0 rgba(0, 0, 0, 0.1);
	-webkit-transition: 0.3s;
	-o-transition: 0.3s;
	transition: 0.3s;
}

#best-programs .program:hover,
#new-programs .program:hover, #programs .program:hover {
	-webkit-box-shadow: 0 0 0 1px rgba(0, 0, 0, 0.1);
	        box-shadow: 0 0 0 1px rgba(0, 0, 0, 0.1);
}

#best-programs .program-header,
#new-programs .program-header, #programs .program-header {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-align: center;
	    -ms-flex-align: center;
	        align-items: center;
	-webkit-box-pack: justify;
	    -ms-flex-pack: justify;
	        justify-content: space-between;
	margin-bottom: 10px;
}

#best-programs .program-name a,
#new-programs .program-name a, #programs .program-name a {
	color: #666666;
}

#best-programs .program-name a:hover,
#new-programs .program-name a:hover, #programs .program-name a:hover {
	color: #37a000;
}

#best-programs .program-name h2,
#new-programs .program-name h2, #programs .program-name h2 {
	font-size: 14px;
	font-weight: 600;
	color: inherit;
	margin: 0;
}

#best-programs .program-price,
#new-programs .program-price, #programs .program-price {
	font-size: 12px;
	font-weight: 600;
}

#best-programs .program-price .price,
#new-programs .program-price .price, #programs .program-price .price {
	font-size: 18px;
}

#best-programs .program-rating,
#new-programs .program-rating, #programs .program-rating {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-ms-flex-wrap: wrap;
	    flex-wrap: wrap;
	-webkit-box-align: center;
	    -ms-flex-align: center;
	        align-items: center;
	margin-bottom: 10px;
}

#best-programs .program-stars,
#new-programs .program-stars, #programs .program-stars {
	font-size: 13px;
	color: #37a000;
}

#best-programs .program-comments,
#new-programs .program-comments, #programs .program-comments {
	font-size: 12px;
}

#best-programs .program-comments i,
#new-programs .program-comments i, #programs .program-comments i {
	margin-right: 5px;
}

#best-programs .program-info-inner,
#new-programs .program-info-inner, #programs .program-info-inner {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-ms-flex-wrap: initial;
	    flex-wrap: initial;
	-webkit-box-align: center;
	    -ms-flex-align: center;
	        align-items: center;
	font-size: 12px;
	font-weight: 400;
	color: #8a8a8a;
}

#best-programs .program-info-inner a,
#new-programs .program-info-inner a, #programs .program-info-inner a {
	color: #8a8a8a;
}

#best-programs .program-info-inner a:hover,
#new-programs .program-info-inner a:hover, #programs .program-info-inner a:hover {
	color: #37a000;
}

#best-programs .program-info-inner p,
#best-programs .program-info-inner p > .info-title,
#new-programs .program-info-inner p,
#new-programs .program-info-inner p > .info-title, #programs .program-info-inner p,
#programs .program-info-inner p > .info-title {
	margin: 0;
}

#best-programs .info-icon,
#new-programs .info-icon, #programs .info-icon {
	margin-right: 10px;
}

#best-programs .info-title,
#new-programs .info-title, #programs .info-title {
	font-size: inherit;
	font-weight: 600;
	margin: 0 5px 0 0;
}

#best-programs .info-value,
#new-programs .info-value, #programs .info-value {
	margin-right: 5px;
}

#best-programs .info-value:last-child,
#new-programs .info-value:last-child, #programs .info-value:last-child {
	margin-right: 0;
}

#program-filter {
	margin-bottom: 40px;
}

#program-filter form {
	-webkit-box-orient: horizontal;
	-webkit-box-direction: normal;
	    -ms-flex-direction: row;
	        flex-direction: row;
	-webkit-box-pack: start;
	    -ms-flex-pack: start;
	        justify-content: flex-start;
}

@media (max-width: 992px) {
	#program-filter form {
		-webkit-box-pack: justify;
		    -ms-flex-pack: justify;
		        justify-content: space-between;
	}
}

#program-filter label {
	width: 220px;
	margin-right: 30px;
}

@media (max-width: 992px) {
	#program-filter label {
		margin-right: 0;
	}
}

@media (max-width: 768px) {
	#program-filter label {
		width: 100%;
	}
}

#program-filter button {
	margin: auto;
}

/*-------------------------
----- program
-------------------------*/
.program-content {
	padding: 30px;
	background: #ffffff;
	overflow: hidden;
	-webkit-box-shadow: 0 10px 20px 0 rgba(0, 0, 0, 0.1);
	        box-shadow: 0 10px 20px 0 rgba(0, 0, 0, 0.1);
}

#program-info {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-ms-flex-wrap: wrap;
	    flex-wrap: wrap;
	-webkit-box-align: start;
	    -ms-flex-align: start;
	        align-items: flex-start;
}

#program-info .program-rating {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-ms-flex-wrap: wrap;
	    flex-wrap: wrap;
	-webkit-box-align: center;
	    -ms-flex-align: center;
	        align-items: center;
	margin-bottom: 30px;
}

#program-info .program-stars {
	font-size: 13px;
	color: #37a000;
}

#program-info .program-name {
	margin-bottom: 10px;
}

#program-info .program-name h1 {
	font-size: 24px;
	margin: 0;
}

#program-info .info-inner {
	-webkit-box-flex: 1;
	    -ms-flex: 1;
	        flex: 1;
	margin-left: 30px;
}

@media (max-width: 992px) {
	#program-info .info-inner {
		-ms-flex-preferred-size: 100%;
		    flex-basis: 100%;
		margin-left: 0;
	}
}

#program-info .program-description {
	font-size: 14px;
	color: #8a8a8a;
}

#program-info .program-description > ul {
	list-style: disc;
}

#program-info .program-info-inner {
	display: -webkit-inline-box;
	display: -ms-inline-flexbox;
	display: inline-flex;
	-ms-flex-wrap: inherit;
	    flex-wrap: inherit;
	-webkit-box-align: center;
	    -ms-flex-align: center;
	        align-items: center;
	font-size: 12px;
	font-weight: 400;
	margin-right: 15px;
	color: #8a8a8a;
}

#program-info .program-info-inner a {
	color: #8a8a8a;
}

#program-info .program-info-inner a:hover {
	color: #37a000;
}

#program-info .info-icon {
	margin-right: 10px;
}

#program-info .info-title {
	font-size: inherit;
	font-weight: 600;
	margin: 0 5px 0 0;
}

#program-info .info-value {
	display: inline-block;
	margin-right: 5px;
}

#program-info .info-value:last-child {
	margin-right: 0;
}

#program-lessons .lessons-list {
	list-style: decimal;
}

#program-lessons .lesson-item {
	background: #f7f8fa;
	padding: 10px;
	margin: 10px 0;
}

#program-comments .comment-list {
	padding: 0 0 0 30px;
	margin: 0;
}

#program-comments .comment-item {
	margin-bottom: 30px;
	padding-bottom: 15px;
	border-bottom: 1px solid #f7f8fa;
}

#program-comments .comment-item .user-name {
	font-size: 14px;
	margin: 0;
}

#program-comments .comment-item .user-comment {
	font-size: 13px;
	margin: 5px 0;
}

#program-comments .comment-item:last-child {
	margin-bottom: 0;
}

#program-comments .comment-info-inner {
	display: -webkit-inline-box;
	display: -ms-inline-flexbox;
	display: inline-flex;
	-ms-flex-wrap: inherit;
	    flex-wrap: inherit;
	-webkit-box-align: center;
	    -ms-flex-align: center;
	        align-items: center;
	font-size: 12px;
	font-weight: 400;
	margin-right: 15px;
	color: #8a8a8a;
}

#program-comments .comment-info-inner a {
	color: #8a8a8a;
}

#program-comments .comment-info-inner a:hover {
	color: #37a000;
}

#program-comments .info-icon {
	margin-right: 10px;
}

#program-comments .info-title {
	font-size: inherit;
	font-weight: 600;
	margin: 0 5px 0 0;
}

#program-comments .info-value {
	display: inline-block;
	margin-right: 5px;
}

#program-comments .info-value:last-child {
	margin-right: 0;
}

.program-use-box {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-orient: vertical;
	-webkit-box-direction: normal;
	    -ms-flex-direction: column;
	        flex-direction: column;
	-webkit-box-pack: justify;
	    -ms-flex-pack: justify;
	        justify-content: space-between;
	-webkit-box-align: center;
	    -ms-flex-align: center;
	        align-items: center;
	padding: 30px;
	background: #ffffff;
	-webkit-box-shadow: 0 10px 20px 0 rgba(0, 0, 0, 0.1);
	        box-shadow: 0 10px 20px 0 rgba(0, 0, 0, 0.1);
	overflow: hidden;
}

.program-use-box > .program-price {
	font-size: 26px;
	font-weight: 700;
	margin-bottom: 30px;
}

.program-use-box > .program-short-info {
	list-style: disc;
	font-size: 14px;
	padding: 0 15px;
	margin-top: 0;
	margin-bottom: 30px;
}

/*-------------------------
----- footer
-------------------------*/
#site-footer {
	background: #ffffff;
	margin-top: 60px;
}

#site-footer .site-footer-inner {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-pack: justify;
	    -ms-flex-pack: justify;
	        justify-content: space-between;
	-webkit-box-align: start;
	    -ms-flex-align: start;
	        align-items: flex-start;
	-ms-flex-wrap: wrap;
	    flex-wrap: wrap;
	padding: 30px 0;
}

@media (max-width: 768px) {
	#site-footer .site-footer-inner {
		-webkit-box-pack: center;
		    -ms-flex-pack: center;
		        justify-content: center;
	}
}

#site-footer .footer-info {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-orient: vertical;
	-webkit-box-direction: normal;
	    -ms-flex-direction: column;
	        flex-direction: column;
}

/*-------------------------
----- footer-menu
-------------------------*/
#footer-menu ul, #footer-menu li {
	padding: 0;
	margin: 0;
}

#footer-menu a {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-pack: justify;
	    -ms-flex-pack: justify;
	        justify-content: space-between;
	-webkit-box-align: center;
	    -ms-flex-align: center;
	        align-items: center;
	font-size: 13px;
	font-weight: 600;
	color: rgba(102, 102, 102, 0.6);
	-webkit-transition: 0.2s;
	-o-transition: 0.2s;
	transition: 0.2s;
}

#footer-menu a:hover {
	color: #37a000;
}

#footer-menu .footer-menu-links {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-align: center;
	    -ms-flex-align: center;
	        align-items: center;
	-webkit-box-pack: justify;
	    -ms-flex-pack: justify;
	        justify-content: space-between;
}

#footer-menu .footer-menu-link {
	margin-right: 15px;
}

#footer-menu .footer-menu-link:last-child {
	margin-right: 0;
}

/*-------------------------
----- copyright
-------------------------*/
.footer-copyrights p {
	font-size: 13px;
	color: rgba(102, 102, 102, 0.6);
	margin: 0;
}

/*-------------------------
----- footer-logo
-------------------------*/
#site-footer .logo {
	-ms-flex-item-align: end;
	    align-self: flex-end;
	margin-right: 0;
	margin-bottom: 10px;
}

@media (max-width: 768px) {
	#site-footer .logo {
		-ms-flex-item-align: center;
		    align-self: center;
		margin: 15px 0;
	}
}
