@{
    ViewData["Title"] = "About";
}
<style>

    body {
        background: #ebebeb;
    }

    .questions .title2 {
        margin-bottom: 43px;
    }

    .block-main {
        display: none;
    }

    .block-title {
        position: relative;
        color: #000;
        width: 775px;
        font-size: 19px;
        line-height: 23px;
        margin-bottom: 10px;
        display: inline-block;
        *display: inline;
        *zoom: 1;
        text-decoration: none;
        cursor: pointer;
    }

        .block-title span {
            border-bottom: 1px dashed #b2b2b2;
        }

        .block-title:hover span, .opened .block-title span {
            border: 0;
        }

    .opened .block-title:before {
        content: "";
        position: absolute;
        left: -23px;
        top: 10px;
        width: 0;
        border: 5px solid transparent;
        border-top: 4px solid #ff9898;
    }


    .outline {
        margin-left: 15%;
        width: 900px;
        border: 1px solid white;
        padding: 0 10px;
        background: #FFFFFF;
    }

    h1 {
        position: relative;
        left: 200px;
    }

    a:hover {
        color: #000088; /* Цвет текста */
    }

    }
</style>
<script>
    function hidetxt(a) {
        a = document.getElementById(a).style;
        a.display = "block" != a.display ? "block" : "none"
    };
</script>
<body>
    <h1>Rules and Frequently Asked Questions</h1>
    <div class="outline">
        <div class="questions-main">
            <div>
                <h2>1. Rules and documents</h2>
                <a onclick="hidetxt('div1');" class="block-title" rel="nofollow" href="#"><span>Terms of use</span></a>
                <div class="block-main" id="div1">
                    <p>
                        This User Agreement governs the relationship between the website Teachme and the user of the Internet (the "User") arising from the use of the Internet resource on the terms specified in the User Agreement. </br>
                        Full and unconditional acceptance of this Teachme offer to the User about the conclusion of the agreement is the commission by the User of actions aimed at using Teachme, including search, viewing or submitting ads, registering on the site, sending messages through the form of communication and other actions to use the functionality of Besplatka .
                        The User Agreement can be changed by the Teachme website at any time without any special notice to that User. The new version of the User Agreement comes into force from the moment of its placement on the Teachme, unless the Free-of-charge is explicitly stated otherwise. Regular familiarization with the current edition of the User Agreement is the responsibility of the User.
                        The use of Teachme after the entry into force of the new version of the User Agreement means the User's consent and full application of the provisions of the new version. </br> </br>
                        1. Terms and definitions</br>
                        In this User Agreement, the terms given below have the following meaning:</br>
                        Teachme and / or Website is an Internet resource that is a collection of information and intellectual property objects contained in the information system (including a computer program, database, graphic design of the interface (design), etc.), access to which is provided from various custom devices connected to the Internet, through special software for browsing the web (browser) or mobile applications. </br>
                        The user is a visitor of Internet resources, including Teachme.
                        The User Agreement - this agreement, the Terms of Advertising and other rules and documents governing the operation of Teachme or determining the use of the Services published on the Site.
                        Services - functionality, services, services, tools available to Users on Teachme. </br>
                        Mobile application - software for portable (mobile) devices, installed or downloaded by the user to such devices using various software platforms, designed to access Teachme. </br>
                        Announcement is an information message with a proposal for the Goods (including contact information, photographs and any related information) placed by the User on the Teachme addressed to an indefinite group of persons. </br>
                        Seller - The user placing on Teachme an announcement with the offer to conclude the transaction with respect to the admission to the course. </br>
                        The Buyer is the User who views the Seller's posted advertisement, interacts with the Seller in relation to the Goods and / or makes a deal with the Seller. </br>
                        Credentials - a unique login (e-mail address) and a password created by the User in the process of Registration on the Site or modified by the User through the Personal Cabinet used for access to the Personal Area after authorization of the User on Teachme. </ Br>
                        Personal Account - a personal section of the User on Teachme associated with the User account on the Site, in which the User is able to manage individual Teachme Services, including their order, connection / disconnection, on the offered Free terms. </ Br>
                        Registration is the set of actions of the User in accordance with the instructions indicated on Besplatka, including the provision of Credentials and other information made by the User using a special form of the Teachme user interface in order to form the Personal Cabinet and access to individual Teachme Services. </br>
                        Information - any materials and information provided by the User to the Freephone in connection with the use of Teachme.
                    </p>
                </div>
            </div>
            <div>
                <a onclick="hidetxt('div2'); return false;" class="block-title" rel="nofollow" href="#"><span>Ad placement policies</span></a>
                <div class="block-main" id="div2">
                    <p>
                        The placement of ads on the Teachme website is governed by the User Agreement. </br>
                        Violation of the rules, as well as the receipt of numerous complaints from users on ads can lead to the blocking of both ads and accounts of their owners. </br>
                        Please note that all ads must comply with the rules, regardless of whether additional services (promotion of the ad) are applied to them or not. Paid ads can also be blocked when violations are detected. </br> </br>
                        General rules. </br>
                        Do not submit the same announcement (about the same course) repeatedly, regardless of whether you place them in different regions or categories. </br>
                        Re-submitting an ad is also considered to remove the advertisement from the publication before the expiration of the previous one, and then post a new announcement about the same product. </br>
                        You can have only one account - do not register again with another e-mail. </br>
                        Do not offer prohibited courses. </br>
                        Place ads only on existing offers. </br>
                        Apply only for specific courses - you can not submit ads of a general advertising nature or without a specific proposal. </br>
                        It is forbidden to place ads containing advertising information, as well as advertisements about advertising: </br>
                        - Internet resources (portals, forums, dating sites, etc.); </br>
                        - business (shops, companies) and transfer of assortment of goods, services and prices. For example, "Our store operates from 10 to 22 without days off." </br>
                        Choose the most appropriate category for the ad, specify the correct real description of the course. All information in the ad must correspond to reality. </br>
                        Place ads only on the course. Do not submit ads: </br>
                        It is unacceptable to place ads about questionable ways to generate income, including in the Internet. For example, "Translate 10 hryvnia to an electronic wallet and earn much more." </br>
                        It is not allowed to have content in the ad (title, text, photos, preview of the video) or user name of erotic, pornographic, obscene, extremist or otherwise non-Teachme content. </br>
                        It is forbidden unauthorized / unreasonable use of logos and trademarks of well-known brands in the ad or in the user's name. Do not add logos and company names. </br>
                        Do not use programs to submit and autostart ads without Teachme's permission. </br> </br>
                        Data of the contact person. </br>
                        The name specified in the ad must be true. </br>
                        The "Name" field should not contain any contact information, including site addresses, telephones, ICQ, but not limited to them. </br>
                        Do not include a phone number, email address or other third party contact information. </br></br>
                        Ad Name </br>
                        The name of the ad should be only the name of the course and its description. The name of the course must match the description. </br>
                        Write the name of the advertisement in Russian or Ukrainian - spelling of words in Latin letters (translit) is unacceptable. It is forbidden to unjustified use of capital letters, special characters, foreign language. </br>
                        Do not specify any contact information, except when the contact information is required by law. In the concept of contact information we include: phone number, physical / legal / e-mail address, address and site name (links), ICQ, skype, but not limited to them. </ Br>
                        It is forbidden to use unwarranted words that attract attention, such as "Urgent" and "Warning" in the title. </br></br>
                        Ad description. </br>
                        The description should be in Russian or Ukrainian, do not use foreign languages ​​and translit - spelling words in Latin letters. Unreasonable use of capital letters and special characters in the declaration description is also unacceptable. </br>
                        Describe exactly the course that we are talking about in the title of the ad and. </br>
                        The ad description should only represent a particular course that is offered, but not to advertise the company's activities or other goods and services provided by it. In the description of the ad it is permissible to specify the conditions and options for purchasing and delivering the goods offered in the ad. The content of the accompanying proposal should be clearly described. </ Br>
                        It is forbidden to specify keywords in the description to facilitate the search for teacher announcements, transfer of several courses, placement of price lists (names and prices of other similar courses). </br>
                        It is forbidden to specify an invalid certificate. </br>
                        Any contact information of any kind is not allowed in the description of the advertisement (including addresses, links, phone numbers, ICQ, but not limited to them), except when the contact information is required by law.</br></br>
                        Photo in Ad </ br>
                        The photo must match the title and description of the ad. </br>
                        Do not use watermarks (watermarks, watermarks) on photos. </br>
                        The presence of company logos and company names is not allowed. </br>
                        Do not add photos that attract attention to the ad with: </br>
                        - motivating words such as "Urgent", "Attention", "Promotion", "Sale", etc. </br>
                        - images processed in special editors (for example, placed in a colored frame, filled with background, placing text on top of the product image, etc.). </br>
                        It is forbidden to have any contact information on the photo (phones, addresses, links and names of sites, ICQ, etc.). </br></br>
                        Price </br>
                        The price must be an integer. </br>
                        Specify only the price at which you offer the service. </br>
                        Do not write the price in the title of the ad - there is a separate field for this.
                    </p>
                </div>
            </div>
            <h2>2. Account and Dashboard</h2>
            <a onclick="hidetxt('div4');" class="block-title" rel="nofollow" href="#"><span>What is an account?</span></a>
            <div class="block-main" id="div4">
                <p>The account on Teachme is your personal cabinet, which is created after registration on the site for the convenience of course management.The Dashboard contains data that you provide about yourself when registering or submitting ads, data about courses. The site administration does not transfer registration data to third parties.</a></p>
            </div>
        </div>
        <div>
            <a onclick="hidetxt('div5'); return false;" class="block-title" rel="nofollow" href="#"><span>How to register?</span></a>
            <div class="block-main" id="div5">
                <p>
                    Please click on teachme.com/registration, fill in the fields and click the "Register" button.
                    After registering, you will be able to manage your ads or recorded courses in your account.
                </p>
            </div>
        </div>
        <div>
            <a onclick="hidetxt('div6'); return false;" class="block-title" rel="nofollow" href="#"><span Is it necessary for one user to register several times to submit different ads in different categories?</span></a>
            <div class="block-main" id="div6">
                <p>According to our rules, one user can have one account - you do not need to register several times. With one account you can submit an unlimited number of ads in different categories of courses. Re-registration may cause the account to be locked.</p>
            </div>
            <h2>3. Подача объявления</h2>
            <a onclick="hidetxt('div7');" class="block-title" rel="nofollow" href="#"><span>How do I submit an ad?</span></a>
            <div class="block-main" id="div7">
                <p>
                    To submit an advertisement, fill out all the fields, attach the certificate and click the "Publish" button at the bottom of the page.
                    When filling out the fields, be extremely careful and enter only the information corresponding to the field name, pay attention to the pop-ups to the right of the field. If you do not find the right one for your site, then you can choose the one closest to the real one, and also specify the exact parameters of the product in the description of the ad. When submitting an ad, give as detailed a description of the course and upload a quality unique profile photo.
                    Do not re-submit the same ad - it violates Teachme rules.
                </p>
            </div>
        </div>
        <div>
            <a onclick="hidetxt('div8'); return false;" class="block-title" rel="nofollow" href="#"><span>How Ads Are Verified?</span></a>
            <div class="block-main" id="div8">
                <p>Verification of ads is carried out constantly, both before the announcement on the site, and after. Please carefully read the site rules before submitting your ad.</p>
            </div>
        </div>
        <div>
            <a onclick="hidetxt('div9'); return false;" class="block-title" rel="nofollow" href="#"><span>How can I find the posted ad on the site immediately after the submission?</span></a>
            <div class="block-main" id="div9">
                <p>
                    You can follow the link to the ad page immediately after submitting on the site. Also, the ad will appear in the Dashboard on the "Courses" tab.
                    Please note that each ad is tested and appears in the search results on the site not immediately, but only after moderation. Usually it takes 5 to 30 minutes (excluding night time, as moderation works from 6:00 to 24:00).
                </p>
            </div>
            <h2>

                4. Disapproved ads
            </h2>
            <a onclick="hidetxt('div10');" class="block-title" rel="nofollow" href="#"><span>How do I know what my ad was rejected for?</span></a>
            <div class="block-main" id="div10">
                <p>You can find out why the ad was disapproved in the ad-rejection notification email. Please edit the ad and correct the reason for the rejection. After editing, the ad will appear again on the site.</p>
            </div>
        </div>
        <div>
            <a onclick="hidetxt('div11'); return false;" class="block-title" rel="nofollow" href="#"><span>Почему отклоняются объявления?</span></a>
            <div class="block-main" id="div11">
                <p>Ads are rejected by the moderator when the site rules are violated, but the owner of the ad can correct the violation himself. Usually, ads are rejected due to incorrectly selected category, incorrectly composed title, description or addition of photos that violate site rules and unauthenticated certificate.</p>
            </div>
        </div>
        <h2>5. Privacy Policy</h2>
        <a onclick="hidetxt('div12');" class="block-title" rel="nofollow" href="#">
            <span>
                Privacy policy
            </span>
        </a>
        <div class="block-main" id="div12">
            <p>What personal information do we collect and for what purpose?</p>
            Registration. <br>
            When registering the User on the site, we collect the data specified by the User in the registration form, namely the email address and mobile phone number. This data our site uses only to authorize the user on the site and verify the existence of this User. In addition, these data can be used for service and newsletters of the site. No data was transmitted, transferred or transmitted to any third parties. <br>
            Message: <br>
            If the User leaves a message on the site, we collect the data specified in the comment form.
            No data was transmitted, transferred or transmitted to any third parties. <br>
            Media files. <br>
            If you are a registered user and upload photos to the site, you may need to avoid uploading images with EXIF ​​metadata, since they can contain your location data by GPS. Visitors can extract this information by downloading images from the site. <br>
            Who do we share your data with? <br>
            The Teachme website does not share user data with third-party services / sites / services. The only exception is the cookies that are used to target our users. <br>
            How long do we store your data? <br>
            If you register, post an ad / me or a message / i, then this data is stored indefinitely. This is done for the convenience of using the site and the ability to resume use at any time ..
            For users with registration on our site, we store that personal information that they indicate in their profile. All users can see, edit or delete their information from the profile at any time. The website administration can also see and modify this information. <br>
            What are your rights to your data? <br>
            If you have an account on the site or if you posted an advertisement or left a message, then you can request a file for exporting the personal data we saved about you, including the information you provided. You can also request the deletion of this data, it does not include data that we are required to keep for administrative purposes, for law or for security purposes. </p>
        </div>
    </div>
    </div>
    </div>
    </div>
</body>