@model string
@{
    ViewData["Title"] = "Home Page";
}
<style>


    body {
        margin: 0px;
        padding: 0px;
    }
    .msg {
 
        top: 0;
        bottom: 30px;
       height: 300px;
        margin-bottom: auto;
        display: block;
        overflow: scroll;
        width: 100%;
        white-space: nowrap;
        
    }
</style>
<body>
    <div class="msg">
        <div style="top:0" id="msgs"></div>
    </div>
    <div style="height:20px;bottom:10px;left:0; display:block;width:100%">
        <input type="text" style="max-width:unset;width:100%;max-width:100%" id="MessageField" placeholder="type message and press enter" />
    </div>
</body>
@section Scripts {
    <script>
    $(function () {
        var userName = '@Model';

        var protocol = location.protocol === "https:" ? "wss:" : "ws:";
        var wsUri = protocol + "//" + window.location.host;
        var socket = new WebSocket(wsUri);
        socket.onopen = e => {
            console.log("socket opened", e);
        };

        socket.onclose = function (e) {
            console.log("socket closed", e);
        };

        socket.onmessage = function (e) {
            console.log(e);
            $('#msgs').append(e.data + '<br />');
        };

        socket.onerror = function (e) {
            console.error(e.data);
        };

        $('#MessageField').keypress(function (e) {
            if (e.which != 13) {
                return;
            }

            e.preventDefault();

            var message = userName + ": " + $('#MessageField').val();
            socket.send(message);
            $('#MessageField').val('');
        });
    });
    </script>
}
